@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Albert Sans", sans-serif !important;
}
:root {
}
img {
  max-width: 100%;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
}

/* navbar start*/

.nav-icon-svg svg path {
  fill: #000;
}

.navbar-toggler {
  border: none !important;
}

.nav-items-list li {
}
.nav-items-list li a {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  margin: 0 0 0 10px;
  padding: 10px 10px;
  color: #000;
}

.nav-items-list li a::after {
  content: "";
  width: 0;
  height: 1px;
  top: 99%;
  position: absolute;
  left: auto;
  right: 0;
  z-index: 1;
  -webkit-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: #93f859;
}
.nav-items-list li a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.nav-carts a {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 1px;
}
.nav-carts svg {
  height: 20px;
  cursor: pointer;
  width: 20px;
  margin-right: 20px;
}
.nav-carts svg path {
  fill: #000;
  transition: all 0.4s ease;
}
.nav-carts a:hover svg path {
  fill: #93f859;
}
/* navbar end*/

/* carosel slider start */
.carousel-indicators [data-bs-target] {
  margin-left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  opacity: 0.5;
  background-color: #000;
}
.carousel-indicators .active {
  opacity: 1;
  box-shadow: 0px 20px 40px 0px #0000001a !important;
}
.carousel-caption {
  position: absolute;
  top: 8%;
  left: 2%;
  transform: translate(3%, 8%);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #000;
  text-align: center;
}

.carousel-caption p {
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 24px;
}
.carousel-caption h1 {
  font-size: 80px;
  line-height: 96px;
  text-align: start;
}
.carousel-caption a {
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
}
.slider-btn {
  background-color: #000;
  border: 1px solid #000;
  padding: 15px 20px;
  border-radius: 50px;
}
.carousel-item img {
  transform: scale(1);
  aspect-ratio: 16/8 !important;
  object-fit: cover;
}
/* carosel slider end */

/* marquee start */
.tf-marquee {
  background-color: #93f859;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-marquee {
  padding: 10px 0;
  margin: 0 !important;
}
.marquee-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marquee-item p {
  margin: 0 0 0 15px;
  font-size: 12px;
  line-height: 19.2px;
}
/* marquee end */

.product-collection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
.product-collection img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: all 0.7s ease;
}
.product-collection:hover img {
  transform: scale(1.2);
}
.collection-content {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 85%;
  width: 85%;
  transform: translate(5%, 5%);
}
.collection-content .top {
}
.collection-content .top h5 {
  font-size: 18px;
  margin-bottom: 0;
}
.collection-content .top p {
  font-size: 14px;
}
.collection-content .bottom {
}
.collection-content .bottom .collection-btn {
  transition: all 0.3s ease;
  pointer-events: auto;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 14px 24px;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  background-color: #fff;
  text-decoration: none;
  color: black;
  border-radius: 50px;
}
.collection-content .bottom .collection-btn:hover {
  color: #fff;
  background-color: black;
}
/* product collection start*/

/* product collection end*/

/* discount banner start */
.discount-banner {
  background-image: url(../image/banner-collection-1.jpg);
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  border-radius: 20px;
}
.box-content {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 3rem;
}

.box-content .heading {
  font-size: 42px;
  line-height: 50px;
  margin-top: 5px;
}
.box-content p {
  font-size: 20px;
  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 26px;
}
.tf-btn {
  padding: 13px 24px;
  line-height: 18px;
  background-color: #93f859;
  color: #000000;
  font-weight: 700;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.tf-btn:hover {
  color: #93f859;
  background-color: #000000;
}

/* discount banner end */
/* collection of product start */
.collection-media {
  position: relative;
  cursor: pointer;
}
.collection-media img {
}
.collection-content-info {
  position: absolute;
  bottom: 7%;
  left: 0%;
  transform: translateX(5%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  cursor: pointer;
}
.collection-content-info .subheading {
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.collection-content-info .heading {
  font-size: 28px;
  line-height: 33.6px;
  margin-bottom: 20px;
  font-weight: 700;
}
/* collection of product end */

/* treding product start */

.treding-product-media {
  border: 1px solid #0000003b;
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
}
.treding-product-media img {
}
.treding-product-content {
}
.treding-product-content {
}
.treding-product-content a {
  font-size: 16px;
  line-height: 19.2px;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  transition: all 0.4s ease;
}
.treding-product-content a:hover {
  color: #93f859;
}
.treding-product-content span {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.price {
}
.price .old-price {
  color: #7c7070;
  margin-right: 10px;
  text-decoration: line-through;
}
.price .new-price {
  color: red;
}
/* treding product end */

/* faq section */
.tf-page-title.style-2 {
  padding: 80px 0 86px;
}
.container-full {
  padding-left: 40px;
  padding-right: 40px;
}
.tf-page-title .heading {
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
}
.tf-page-title {
  padding: 69px 0 65px;
  background-image: url(../image/page-title-blog.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid #00000029;
}
.accordion-item .accordion-button {
  background-color: #fff;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.accordion-item .accordion-button:hover {
  color: rgba(255, 0, 0, 0.737);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../image/down-arrow.svg);
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-body {
  font-size: 14px;
  line-height: 20px;
}
.btn-line {
  background-color: #000 !important;
  color: #fff;
}
.btn-line:hover {
  color: #000 !important;
  background-color: #fff !important;
}
.tf-other-contents {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
}
.tf-other-contents h5 {
  text-rendering: optimizeLegibility;
  color: #000;
  font-size: 25px;
  font-weight: 400;
}
.tf-other-contents .text_black-2 {
  font-size: 14px;
  font-weight: 400;
}
/* faq section end */
/* media query part */
@media (max-width: 768px) {
  .carousel-caption {
    top: 2%;
    left: 2%;
    transform: translate(2%, 2%);
  }
  .carousel-caption p {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 18px;
    display: none;
  }
  .carousel-caption h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .carousel-caption a {
    font-size: 16px;
    margin-top: 1px;
  }
  .carousel-item img {
    transform: scale(2);
    aspect-ratio: 16/8 !important;
    object-fit: cover;
  }
  .carousel-item img {
    transform: scale(2.5);
    aspect-ratio: 16/8 !important;
    object-fit: cover;
  }
  .slider-btn {
    padding: 8px 15px;
    border-radius: 50px;
  }
  .collection-content {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 80%;
    width: 71%;
    transform: translate(10%, 5%);
  }
  /* discount banner */
  .box-content {
    height: 300px;
    margin-left: 0.5rem;
  }
  .box-content p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .box-content .heading {
    margin-top: 5px;
    font-size: 22px;
    line-height: 26px;
  }
  .tf-btn {
    padding: 13px 24px;
    font-size: 16px;
  }

  /* trending product start */
  .treading-scroll {
    overflow: scroll;
    scrollbar-width: none;
  }
  /* trending product end */
  .collection-content-info {
    bottom: 4%;
    left: 0%;
  }
  .tf-page-title.style-2 {
    padding: 35px 0 30px;
  }
}
